<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/reset.css" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/common.css" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- 네비게이션 바 (GNB) -->
      <div class="navbar">
        <div class="navbar__content">
          <!-- 로고 -->
          <a href="index.html" class="logo__container">
            <img src="../../static/taekyungsa/images/png/logo.png" alt="" />
          </a>
          <!-- //로고 -->

          <!-- 메뉴 -->
          <ul class="menu__container">
            <li>
              <a href="sub01_01.html" class="active">체육복사이즈</a>
            </li>
            <li>
              <a href="sub02_01.html">온라인주문</a>
            </li>
            <li>
              <a href="sub03_01.html">주문안내</a>
            </li>
            <li>
              <a href="sub04_01.html">주문내역조회</a>
            </li>
            <li>
              <a href="sub05_01.html">교복비납입증명서</a>
            </li>
            <li>
              <a href="sub06_01.html">회사소개</a>
            </li>
          </ul>
          <!-- //메뉴 -->
        </div>
      </div>
      <!-- //네비게이션 바 (GNB) -->

      <div class="sub sub01 sub01_02">
        <!-- 서브 배너 -->
        <div class="sub__banner subtop">
          <div class="subtitle">
            <h1>온라인주문</h1>
            <h3>체육복 <b>고객만족도 1위</b></h3>
            <span><b>태경사</b>가 만들면 다릅니다.</span>
          </div>
        </div>
        <!-- //서브 배너 -->

        <!-- 컨텐츠 -->
        <div class="contents">
          <div class="sbox clearfix">
            <div class="p_name">[가평고등학교] 동하복세트</div>
            <div class="View_info_price">
              <div class="p_tit">판매가격</div>
              <div
                style="height: 10px; width: 1px; background-color: #ddd"
              ></div>
              <div class="price_b">120,000원</div>
            </div>
            <div class="View_info_list"></div>
            <div class="View_info_option_tit">옵션선택</div>
            <div class="View_info_option optcode">
              <select name="optcode5" id="optcode5">
                <option value="" optname="">사이즈 : 선택하세요</option>
                <option value="85" optname="85">85</option>
                <option value="90" optname="90">90</option>
                <option value="95" optname="95">95</option>
                <option value="100" optname="100">100</option>
                <option value="105" optname="105">105</option>
                <option value="110" optname="110">110</option>
                <option value="115" optname="115">115</option>
                <option value="120" optname="120">120</option>
                <option value="130" optname="130">130</option>
                <option value="140" optname="140">140</option>
              </select>
            </div>
            <div class="View_info_option optcode">
              <select name="optcode6" id="optcode6">
                <option value="" optname="">입학년도 : 선택하세요</option>
                <option value="2021" optname="2021">2021</option>
                <option value="2022" optname="2022">2022</option>
                <option value="2023" optname="2023">2023</option>
              </select>
            </div>
            <div class="View_info_option-qty">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td style="color: #333">85,2021</td>
                    <td width="72">
                      <div class="qty-btn">
                        <button type="button" onclick="decAmount(this.form);">
                          -
                        </button>
                        <input
                          type="text"
                          name="amount"
                          value="1"
                          onchange="putAmount(this.form);"
                          class="amout_num"
                        />
                        <button type="button" onclick="incAmount(this.form);">
                          +
                        </button>
                      </div>
                    </td>
                    <td width="90" align="right" class="price">100,000원</td>
                  </tr>
                </tbody>
              </table>
              <button
                type="button"
                class="btn_x"
                onclick="delItem(this.form);"
              ></button>
            </div>
            <div class="View_info_prdprice">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td style="color: red; padding-bottom: 10px">
                      ※ 주문제작 관계로 재고 소진 시에는 3주~4주정도 소요됩니다.
                    </td>
                  </tr>
                  <tr>
                    <td>총 상품금액</td>
                    <td align="right" style="font-size: 17px; color: #222">
                      <strong style="font-size: 23px; font-family: verdana"
                        >0</strong
                      >원
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="View_info_btn">
              <a href="sub02_04.html"
                ><img
                  src="../../static/taekyungsa/images/gif/but_view_buy.gif"
                  border="0"
              /></a>
              <a href="javascript:saveBasket('basket');"
                ><img
                  src="../../static/taekyungsa/images/gif/but_view_cart.gif"
                  border="0"
                  style="margin-left: 4px"
              /></a>
              <a href="javascript:window.history.go(-1);"
                ><img
                  src="../../static/taekyungsa/images/gif/but_view_list.gif"
                  border="0"
                  style="margin-left: 4px"
              /></a>
            </div>
          </div>
        </div>
        <!-- //컨텐츠 -->
      </div>
      <!-- Flaoting Action Button -->
      <div class="fab">
        <a>
          <button class="fab-chatbot-button"></button>
        </a>
        <a href="prd_cart.html" class="fab-cart"
          ><span class="material-icons">shopping_cart</span></a
        >
      </div>
      <!-- //Flaoting Action Button -->
      <!-- 푸터 -->
      <div class="copy">
        <div class="cbox clearfix">
          <div class="ssbox clearfix">
            <a href="#none">
              <span>CUSTOMER CENTER</span>
              <span class="material-icons">desktop_mac</span>
              <span>02 · 993 · 1539</span>
            </a>
          </div>
          <div class="ssbox clearfix">
            <p>Operating hours : am 10:00 ~ pm 06:00</p>
            <p>
              상호명 : 태경사 / 사업자등록번호 : 217-02-24322 / 제1공장 주소 :
              서울시 도봉로 110 라길 18 / T : 02 · 993 · 1539
            </p>
            <p>
              제2공장 주소 : 의정부시 배꽃길 7. 의정부 더리브 센텀스퀘어 2동
              507호 / 사업자등록번호 : 307-15-61708 / T : 031-543-0863
            </p>
            <p>H : 010 · 9167 · 7883 / E-mail : na7060@hanmail.net</p>
            <p>Copyright ⓒ TEAKYUNGSA Co 1998. All rights reserved</p>
          </div>
        </div>
      </div>
      <!-- //푸터 -->
    </div>
  </body>
</html>
