<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/reset.css" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/common.css" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- 네비게이션 바 (GNB) -->
      <div class="navbar">
        <div class="navbar__content">
          <!-- 로고 -->
          <a href="index.html" class="logo__container">
            <img src="../../static/taekyungsa/images/png/logo.png" alt="" />
          </a>
          <!-- //로고 -->

          <!-- 메뉴 -->
          <ul class="menu__container">
            <li>
              <a href="sub01_01.html" class="active">체육복사이즈</a>
            </li>
            <li>
              <a href="sub02_01.html">온라인주문</a>
            </li>
            <li>
              <a href="sub03_01.html">주문안내</a>
            </li>
            <li>
              <a href="sub04_01.html">주문내역조회</a>
            </li>
            <li>
              <a href="sub05_01.html">교복비납입증명서</a>
            </li>
            <li>
              <a href="sub06_01.html">회사소개</a>
            </li>
          </ul>
          <!-- //메뉴 -->
        </div>
      </div>
      <!-- //네비게이션 바 (GNB) -->

      <div class="sub sub01 sub01_02">
        <!-- 서브 배너 -->
        <div class="sub__banner subtop">
          <div class="subtitle">
            <h1>온라인주문</h1>
            <h3>체육복 <b>고객만족도 1위</b></h3>
            <span><b>태경사</b>가 만들면 다릅니다.</span>
          </div>
        </div>
        <!-- //서브 배너 -->

        <!-- 컨텐츠 -->
        <div class="contents">
          <div class="sbox clearfix">
            <div class="Product_process_top">
              <img src="/static/taekyungsa/images/gif/cart_dir_01.gif" /><img
                src="/static/taekyungsa/images/gif/cart_dir_o_02.gif"
              /><img src="/static/taekyungsa/images/gif/cart_dir_03.gif" /><img
                src="/static/taekyungsa/images/gif/cart_dir_04.gif"
              />
            </div>
            <div class="Product_order_info_tit">
              <div class="Product_order_info_1">구매상품정보</div>
              <div class="Product_order_info_2">제품가격</div>
              <div class="Product_order_info_2">수 량</div>
            </div>
            <div class="Product_order_stat_wrapper">
              <div style="width: 912px">
                <div>[고양중학교] 동하복세트</div>
                <div>사이즈 : 90, 입학년도 : 2021,</div>
              </div>
              <div class="Product_order_stat_price">100,000원</div>
              <div class="Product_order_stat_count">1</div>
            </div>
            <div class="Product_order_result_wrapper">
              상품(100,000원) + 배송비(3,000원) = 주문합계&nbsp;
              <span class="Product_order_result_price">103,000원</span>
            </div>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>
                    <p class="Product_order_tit">주문하시는 분</p>
                    <table
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      class="AWorder_form_table"
                    >
                      <tbody>
                        <tr>
                          <th>주문하시는 분</th>
                          <td>
                            <input
                              type="text"
                              name="send_name"
                              size="25"
                              class="input"
                            />
                          </td>
                        </tr>
                        <tr>
                          <th>휴대전화번호</th>
                          <td>
                            <input
                              type="text"
                              name="send_hphone"
                              size="3"
                              class="input"
                            />
                            -
                            <input
                              type="text"
                              name="send_hphone2"
                              size="4"
                              class="input"
                            />
                            -
                            <input
                              type="text"
                              name="send_hphone3"
                              size="4"
                              class="input"
                            />
                          </td>
                        </tr>
                        <tr>
                          <th>주 소</th>
                          <td>
                            <input
                              type="text"
                              name="send_post1"
                              size="7"
                              class="input"
                            />
                            <a href="javascript:zipSearch('send_');"
                              ><img
                                src="/static/taekyungsa/images/gif/but_find_zip.gif"
                                border="0"
                                align="absmiddle"
                            /></a>
                          </td>
                        </tr>
                        <tr>
                          <th>상세주소</th>
                          <td>
                            <input
                              type="text"
                              name="send_address1"
                              size="70"
                              class="input"
                              style="margin-bottom: 5px"
                            />
                            <input
                              type="text"
                              name="send_address2"
                              size="70"
                              class="input"
                            />
                          </td>
                        </tr>
                        <tr>
                          <th>요청사항</th>
                          <td>
                            <textarea
                              name="demand"
                              cols="70"
                              rows="5"
                              class="input"
                            ></textarea>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                    <!-- 결제수단 -->
                    <p class="Product_order_tit">결제 수단</p>
                    <table
                      width="100%"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      class="AWorder_form_table"
                    >
                      <tbody>
                        <tr>
                          <th>결제방법</th>
                          <td>
                            <input
                              type="radio"
                              name="pay_method"
                              value=""
                              style="display: none"
                            />
                            <input
                              type="radio"
                              name="pay_method"
                              value="PB"
                              checked=""
                            />무통장입금 &nbsp;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td height="60" align="center" valign="bottom">
                    <a href="sub02_05.html">
                      <input
                        type="image"
                        src="/static/taekyungsa/images/gif/but_pay.gif"
                        border="0"
                      />
                    </a>
                    <img
                      src="/static/taekyungsa/images/gif/but_cancel.gif"
                      border="0"
                      onclick="history.go(-1);"
                      style="cursor: pointer"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- //컨텐츠 -->
      </div>
      <!-- Flaoting Action Button -->
      <div class="fab">
        <a>
          <button class="fab-chatbot-button"></button>
        </a>
        <a href="prd_cart.html" class="fab-cart"
          ><span class="material-icons">shopping_cart</span></a
        >
      </div>
      <!-- //Flaoting Action Button -->
      <!-- 푸터 -->
      <div class="copy">
        <div class="cbox clearfix">
          <div class="ssbox clearfix">
            <a href="#none">
              <span>CUSTOMER CENTER</span>
              <span class="material-icons">desktop_mac</span>
              <span>02 · 993 · 1539</span>
            </a>
          </div>
          <div class="ssbox clearfix">
            <p>Operating hours : am 10:00 ~ pm 06:00</p>
            <p>
              상호명 : 태경사 / 사업자등록번호 : 217-02-24322 / 제1공장 주소 :
              서울시 도봉로 110 라길 18 / T : 02 · 993 · 1539
            </p>
            <p>
              제2공장 주소 : 의정부시 배꽃길 7. 의정부 더리브 센텀스퀘어 2동
              507호 / 사업자등록번호 : 307-15-61708 / T : 031-543-0863
            </p>
            <p>H : 010 · 9167 · 7883 / E-mail : na7060@hanmail.net</p>
            <p>Copyright ⓒ TEAKYUNGSA Co 1998. All rights reserved</p>
          </div>
        </div>
      </div>
      <!-- //푸터 -->
    </div>
  </body>
</html>
