<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/reset.css" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/common.css" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="background-color: white">
      <!-- 네비게이션 바 (GNB) -->
      <div class="navbar">
        <div class="navbar__content">
          <!-- 로고 -->
          <a href="index.html" class="logo__container">
            <img src="../../static/taekyungsa/images/png/logo.png" alt="" />
          </a>
          <!-- //로고 -->

          <!-- 메뉴 -->
          <ul class="menu__container">
            <li>
              <a href="sub01_01.html" class="active">체육복사이즈</a>
            </li>
            <li>
              <a href="sub02_01.html">온라인주문</a>
            </li>
            <li>
              <a href="sub03_01.html">주문안내</a>
            </li>
            <li>
              <a href="sub04_01.html">주문내역조회</a>
            </li>
            <li>
              <a href="sub05_01.html">교복비납입증명서</a>
            </li>
            <li>
              <a href="sub06_01.html">회사소개</a>
            </li>
          </ul>
          <!-- //메뉴 -->
        </div>
      </div>
      <!-- //네비게이션 바 (GNB) -->

      <div class="sub sub03 sub03_01" style="background-color: white">
        <!-- 서브 배너 -->
        <div class="sub__banner subtop">
          <div class="subtitle">
            <h1>주문안내</h1>
            <h3>체육복 <b>고객만족도 1위</b></h3>
            <span><b>태경사</b>가 만들면 다릅니다.</span>
          </div>
        </div>
        <!-- //서브 배너 -->

        <!-- 컨텐츠 -->
        <div class="contents clearfix">
          <div class="sbox clearfix">
            <div class="ssbox">
              <h1>상품주문시 안내사항</h1>
              <p>
                <strong>제품주문은 회원가입이 필요 없습니다.</strong> 이름,
                전화번호, 입금자명을<br />
                입력하여 주문을 하게 되며, 주문내역 조회가 필요한 경우 이름과
                전화<br />번호로 내역을 확인 할 수 있습니다.<br />
                ※ 결제는 <strong>무통장 입금만</strong> 운영되고 있습니다.<br />
                ※ 사이즈 <strong>115부터 품에서 5cm씩</strong> 차이가
                발생합니다.
              </p>
            </div>
            <div class="ssbox">
              <h1>주문방법</h1>
              <p>
                <span>01</span><strong>온라인주문</strong><br />
                학교명을 정확히 선택 후 검색 버튼을 누른다.
              </p>
              <p>
                <span>02</span><strong>제품선택</strong><br />
                구입하려는 제품을 선택한다.
              </p>
              <p>
                <span>03</span><strong>사이즈선택</strong><br />
                구매자의 사이즈를 선택한다. (사이즈 참고표 참조)
              </p>
              <p>
                <span>04</span><strong>입금</strong><br />
                구매 완료 후 구매금액을 입금한다.
              </p>
              <p>
                <span>05</span><strong>본사택배발송</strong><br />
                발송 후 2~3일 경과 후 수령 (본사에 제품이 품절인 경우에는 본사
                직원이 미리 연락을 드리며, 구입을 원할 시 제작기간이 최소 7~10일
                정도 소요될 수 있습니다.)
              </p>
            </div>
          </div>
        </div>
        <!-- //컨텐츠 -->

        <!-- Flaoting Action Button -->
        <div class="fab">
          <a>
            <button class="fab-chatbot-button"></button>
          </a>
          <a href="prd_cart.html" class="fab-cart"
            ><span class="material-icons">shopping_cart</span></a
          >
        </div>
        <!-- //Flaoting Action Button -->
        <!-- 푸터 -->
        <div class="copy">
          <div class="cbox clearfix">
            <div class="ssbox clearfix">
              <a href="#none">
                <span>CUSTOMER CENTER</span>
                <span class="material-icons">desktop_mac</span>
                <span>02 · 993 · 1539</span>
              </a>
            </div>
            <div class="ssbox clearfix">
              <p>Operating hours : am 10:00 ~ pm 06:00</p>
              <p>
                상호명 : 태경사 / 사업자등록번호 : 217-02-24322 / 제1공장 주소 :
                서울시 도봉로 110 라길 18 / T : 02 · 993 · 1539
              </p>
              <p>
                제2공장 주소 : 의정부시 배꽃길 7. 의정부 더리브 센텀스퀘어 2동
                507호 / 사업자등록번호 : 307-15-61708 / T : 031-543-0863
              </p>
              <p>H : 010 · 9167 · 7883 / E-mail : na7060@hanmail.net</p>
              <p>Copyright ⓒ TEAKYUNGSA Co 1998. All rights reserved</p>
            </div>
          </div>
        </div>
        <!-- //푸터 -->
      </div>
    </div>
  </body>
</html>
