<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/reset.css" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/common.css" />
    <link rel="stylesheet" href="../../static/taekyungsa/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <!-- 네비게이션 바 (GNB) -->
      <div class="navbar">
        <div class="navbar__content">
          <!-- 로고 -->
          <a href="index.html" class="logo__container">
            <img src="../../static/taekyungsa/images/png/logo.png" alt="" />
          </a>
          <!-- //로고 -->

          <!-- 메뉴 -->
          <ul class="menu__container">
            <li>
              <a href="sub01_01.html" class="active">체육복사이즈</a>
            </li>
            <li>
              <a href="sub02_01.html">온라인주문</a>
            </li>
            <li>
              <a href="sub03_01.html">주문안내</a>
            </li>
            <li>
              <a href="sub04_01.html">주문내역조회</a>
            </li>
            <li>
              <a href="sub05_01.html">교복비납입증명서</a>
            </li>
            <li>
              <a href="sub06_01.html">회사소개</a>
            </li>
          </ul>
          <!-- //메뉴 -->
        </div>
      </div>
      <!-- //네비게이션 바 (GNB) -->

      <div class="sub sub01 sub01_02">
        <!-- 서브 배너 -->
        <div class="sub__banner subtop">
          <div class="subtitle">
            <h1>온라인주문</h1>
            <h3>체육복 <b>고객만족도 1위</b></h3>
            <span><b>태경사</b>가 만들면 다릅니다.</span>
          </div>
        </div>
        <!-- //서브 배너 -->

        <!-- 컨텐츠 -->
        <div class="contents">
          <div class="sbox clearfix">
            <div class="Product_process_top">
              <img src="/static/taekyungsa/images/gif/cart_dir_01.gif" /><img
                src="/static/taekyungsa/images/gif/cart_dir_02.gif"
              /><img src="/static/taekyungsa/images/gif/cart_dir_03.gif" /><img
                src="/static/taekyungsa/images/gif/cart_dir_o_04.gif"
              />
            </div>
            <div class="Product_order_info_tit">
              <div class="Product_order_info_1">구매상품정보</div>
              <div class="Product_order_info_2">제품가격</div>
              <div class="Product_order_info_2">수 량</div>
            </div>
            <div class="Product_order_stat_wrapper">
              <div style="width: 912px">
                <div>[고양중학교] 동하복세트</div>
                <div>사이즈 : 90, 입학년도 : 2021,</div>
              </div>
              <div class="Product_order_stat_price">100,000원</div>
              <div class="Product_order_stat_count">1</div>
            </div>
            <div class="Product_order_result_wrapper">
              상품(100,000원) + 배송비(3,000원) = 주문합계&nbsp;
              <span class="Product_order_result_price">103,000원</span>
            </div>
            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              style="text-align: left; margin-top: 30px"
              class="AWorder_form_table"
            >
              <tbody>
                <tr>
                  <th>휴대전화번호</th>
                  <td>241018053147597</td>
                  <th>주문일</th>
                  <td>2024-10-18 05:31:47</td>
                </tr>
                <tr>
                  <th>결제방법</th>
                  <td>무통장입금</td>
                  <th>주문상태</th>
                  <td>주문접수</td>
                </tr>
                <tr>
                  <th>입금계좌</th>
                  <td>기업은행 086-064404-01-014 김미경</td>
                  <th>입금자명</th>
                  <td>sdf</td>
                </tr>
              </tbody>
            </table>
            <p class="Product_order_tit">주문하시는 분</p>
            <table
              width="100%"
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="AWorder_form_table"
            >
              <tbody>
                <tr>
                  <th>주문하시는 분</th>
                  <td>sadf</td>
                </tr>
                <tr>
                  <th>휴대전화번호</th>
                  <td>010-2010-12123</td>
                </tr>
                <tr>
                  <th>주 소</th>
                  <td>[48060] 부산 해운대구 APEC로 17 asd</td>
                </tr>
                <tr>
                  <th>요청사항</th>
                  <td>asd</td>
                </tr>
              </tbody>
            </table>
            <div
              style="
                width: 1200px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: end;
                gap: 4px;
              "
            >
              <a href="http://tks2022.lineartweb.co.kr/order_list.html"
                ><img
                  src="/static/taekyungsa/images/gif/btn_order_list.gif"
                  border="0"
              /></a>
              <a href="javascript:orderPrint('241018053147597');"
                ><img
                  src="/static/taekyungsa/images/gif/btn_print.gif"
                  border="0"
              /></a>
            </div>
          </div>
        </div>
        <!-- //컨텐츠 -->
      </div>
      <!-- Flaoting Action Button -->
      <div class="fab">
        <a>
          <button class="fab-chatbot-button"></button>
        </a>
        <a href="prd_cart.html" class="fab-cart"
          ><span class="material-icons">shopping_cart</span></a
        >
      </div>
      <!-- //Flaoting Action Button -->
      <!-- 푸터 -->
      <div class="copy">
        <div class="cbox clearfix">
          <div class="ssbox clearfix">
            <a href="#none">
              <span>CUSTOMER CENTER</span>
              <span class="material-icons">desktop_mac</span>
              <span>02 · 993 · 1539</span>
            </a>
          </div>
          <div class="ssbox clearfix">
            <p>Operating hours : am 10:00 ~ pm 06:00</p>
            <p>
              상호명 : 태경사 / 사업자등록번호 : 217-02-24322 / 제1공장 주소 :
              서울시 도봉로 110 라길 18 / T : 02 · 993 · 1539
            </p>
            <p>
              제2공장 주소 : 의정부시 배꽃길 7. 의정부 더리브 센텀스퀘어 2동
              507호 / 사업자등록번호 : 307-15-61708 / T : 031-543-0863
            </p>
            <p>H : 010 · 9167 · 7883 / E-mail : na7060@hanmail.net</p>
            <p>Copyright ⓒ TEAKYUNGSA Co 1998. All rights reserved</p>
          </div>
        </div>
      </div>
      <!-- //푸터 -->
    </div>
  </body>
</html>
